<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonight.manage.organization.managingmoneyapp">


    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GroupListActivity"/>
        <activity android:name=".JoinActivity"/>
        <activity android:name=".EventListActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".InvitationActivity"/>
        <activity android:name=".MemberListActivity"/>
        <activity android:name=".EventInfoActivity"/>
        <activity android:name=".ProfileImageActivity"/>
        <activity android:name=".EditPasswordActivity"/>
        <activity android:name=".EditPhoneNumberActivity"/>
        <activity android:name=".SMSActivity" android:theme="@style/Theme.AppCompat.Translucent"/>
        <service android:name=".Service.SMSandPasteService">

            <intent-filter>

                <action android:name="service"/>

                <category android:name="android.intent.category.DEFAULT"/>

            </intent-filter>

        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
</manifest>